node_modules
**/node_modules
**/.next
**/.next-build
**/dist
**/coverage
storage
uploads

.git
.github
.env
.env.*
!.env.example

*.log
*.tsbuildinfo
.DS_Store
.idea
.vscode
README.md
docker-compose*.yml
